In [19]:
import os
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import IsolationForest

In [20]:
# Environment variables
os.environ["RAW_DATA_FILE"] = "raw_data.csv"
os.environ["CLEANED_FILE"] = "cleaned_data.csv"

In [21]:
current_path = os.getcwd()
raw_data_file_name = os.environ.get("RAW_DATA_FILE")
data_path = os.path.join(current_path, "../data/", raw_data_file_name)
df = pd.read_csv(data_path)

### Data cleaning steps
1. Identify Columns That Contain a Single Value.
2. Delete Columns That Contain a Single Value.
3. Consider Columns That Have Very Few Values.
4. Remove Columns That Have A Low Variance.
5. Identify Rows that Contain Duplicate Data.
6. Delete Rows that Contain Duplicate Data.
7. Round decimal values.
8. Impute data.

#### Remove rows with doplicated data

In [22]:
df = df.drop_duplicates()
df

,Chi,Gel,Gly,Pec,Sta,Oil,T(°C),%RH,t(h),TS,WVP,%E
0,0.920,0.00,0.387,0.0,0.460,0.00,60.0,50.0,18.0,49.40,92.200,100.40
1,0.920,0.46,0.387,0.0,0.460,0.00,60.0,50.0,18.0,13.63,90.600,70.60
2,0.920,0.00,0.387,0.0,1.380,0.00,60.0,50.0,18.0,33.36,101.200,50.30
3,0.920,0.46,0.387,0.0,1.380,0.00,60.0,50.0,18.0,40.41,94.700,35.10
4,0.922,0.00,0.194,0.0,0.922,0.00,60.0,50.0,18.0,39.23,70.300,8.90
...,...,...,...,...,...,...,...,...,...,...,...,...
75,2.000,0.00,0.000,0.0,0.000,2.18,NaN,0.0,72.0,9.45,0.634,4.86
76,2.000,0.00,0.000,0.0,0.000,1.09,NaN,0.0,72.0,13.92,0.556,11.03
77,2.000,0.00,0.000,0.0,0.000,0.55,NaN,0.0,72.0,14.41,0.537,5.46
78,2.000,0.00,0.000,0.0,0.000,0.27,NaN,0.0,72.0,17.67,0.341,4.02
79,2.000,0.00,0.000,0.0,0.000,0.00,NaN,0.0,72.0,19.36,0.303,3.76

#### Round decimal values

In [23]:
df_columns = df.columns

# number of decimal values for each colum
# Chi: 3, Gel: 3, Gly, 3, Pec: 3, Sta: 3, Oil: 3, T(ºC): 0; %RH: 0, t(h): 0, TS: 2, WVP: 2, E: 2
dv = [3, 3, 3, 3, 3, 3, 0, 0, 0, 2, 2, 2]

for i, col in enumerate(df_columns):
    df[col] = df[col].round(dv[i])

df

,Chi,Gel,Gly,Pec,Sta,Oil,T(°C),%RH,t(h),TS,WVP,%E
0,0.920,0.00,0.387,0.0,0.460,0.00,60.0,50.0,18.0,49.40,92.20,100.40
1,0.920,0.46,0.387,0.0,0.460,0.00,60.0,50.0,18.0,13.63,90.60,70.60
2,0.920,0.00,0.387,0.0,1.380,0.00,60.0,50.0,18.0,33.36,101.20,50.30
3,0.920,0.46,0.387,0.0,1.380,0.00,60.0,50.0,18.0,40.41,94.70,35.10
4,0.922,0.00,0.194,0.0,0.922,0.00,60.0,50.0,18.0,39.23,70.30,8.90
...,...,...,...,...,...,...,...,...,...,...,...,...
75,2.000,0.00,0.000,0.0,0.000,2.18,NaN,0.0,72.0,9.45,0.63,4.86
76,2.000,0.00,0.000,0.0,0.000,1.09,NaN,0.0,72.0,13.92,0.56,11.03
77,2.000,0.00,0.000,0.0,0.000,0.55,NaN,0.0,72.0,14.41,0.54,5.46
78,2.000,0.00,0.000,0.0,0.000,0.27,NaN,0.0,72.0,17.67,0.34,4.02
79,2.000,0.00,0.000,0.0,0.000,0.00,NaN,0.0,72.0,19.36,0.30,3.76

#### Impute missing values

In [24]:
imp = IterativeImputer(estimator=RandomForestRegressor(random_state=42), max_iter=30)
data = imp.fit_transform(df)
data = pd.DataFrame(data, columns=df.columns)
data

,Chi,Gel,Gly,Pec,Sta,Oil,T(°C),%RH,t(h),TS,WVP,%E
0,0.920,0.00,0.387,0.0,0.460,0.00,60.00,50.0,18.0,49.40,92.20,100.40
1,0.920,0.46,0.387,0.0,0.460,0.00,60.00,50.0,18.0,13.63,90.60,70.60
2,0.920,0.00,0.387,0.0,1.380,0.00,60.00,50.0,18.0,33.36,101.20,50.30
3,0.920,0.46,0.387,0.0,1.380,0.00,60.00,50.0,18.0,40.41,94.70,35.10
4,0.922,0.00,0.194,0.0,0.922,0.00,60.00,50.0,18.0,39.23,70.30,8.90
...,...,...,...,...,...,...,...,...,...,...,...,...
75,2.000,0.00,0.000,0.0,0.000,2.18,26.06,0.0,72.0,9.45,0.63,4.86
76,2.000,0.00,0.000,0.0,0.000,1.09,26.04,0.0,72.0,13.92,0.56,11.03
77,2.000,0.00,0.000,0.0,0.000,0.55,26.06,0.0,72.0,14.41,0.54,5.46
78,2.000,0.00,0.000,0.0,0.000,0.27,26.40,0.0,72.0,17.67,0.34,4.02
79,2.000,0.00,0.000,0.0,0.000,0.00,26.40,0.0,72.0,19.36,0.30,3.76

In [25]:
cleaned_data_file_name = os.environ.get("CLEANED_FILE")
cleaned_data_path = os.path.join(current_path, "../data/", cleaned_data_file_name)
data.head(100)

,Chi,Gel,Gly,Pec,Sta,Oil,T(°C),%RH,t(h),TS,WVP,%E
0,0.920,0.00,0.387,0.0,0.460,0.00,60.00,50.0,18.0,49.40,92.20,100.40
1,0.920,0.46,0.387,0.0,0.460,0.00,60.00,50.0,18.0,13.63,90.60,70.60
2,0.920,0.00,0.387,0.0,1.380,0.00,60.00,50.0,18.0,33.36,101.20,50.30
3,0.920,0.46,0.387,0.0,1.380,0.00,60.00,50.0,18.0,40.41,94.70,35.10
4,0.922,0.00,0.194,0.0,0.922,0.00,60.00,50.0,18.0,39.23,70.30,8.90
...,...,...,...,...,...,...,...,...,...,...,...,...
75,2.000,0.00,0.000,0.0,0.000,2.18,26.06,0.0,72.0,9.45,0.63,4.86
76,2.000,0.00,0.000,0.0,0.000,1.09,26.04,0.0,72.0,13.92,0.56,11.03
77,2.000,0.00,0.000,0.0,0.000,0.55,26.06,0.0,72.0,14.41,0.54,5.46
78,2.000,0.00,0.000,0.0,0.000,0.27,26.40,0.0,72.0,17.67,0.34,4.02
79,2.000,0.00,0.000,0.0,0.000,0.00,26.40,0.0,72.0,19.36,0.30,3.76

In [26]:
# Remove outliers with isolation forest
def remove_outliers(
    data: pd.DataFrame, model=None
) -> tuple[pd.DataFrame, IsolationForest]:
    if model is None:
        model = IsolationForest(contamination=0.05)
        outliers = model.fit_predict(data)
    else:
        outliers = model.predict(data)

    clean_data = data[outliers == 1]
    outliers = data[outliers == -1]
    print(f"Removed {outliers} outliers")
    clean_data = clean_data.round(4)
    return clean_data, model

In [27]:
df, _model = remove_outliers(data)
df

Removed       Chi    Gel    Gly  Pec  Sta    Oil  T(°C)   %RH   t(h)      TS    WVP  \
19  0.000  0.500  1.200  0.3  0.0  0.000   25.0  58.0   12.0    6.42   7.68
34  0.000  3.886  0.777  0.0  0.0  2.231   30.0  53.0   24.0   35.00  11.00
45  0.998  0.000  0.300  0.0  0.0  0.000    2.0  54.0  336.0  351.00  62.50
46  1.496  0.000  0.300  0.0  0.0  0.000    2.0  54.0  336.0  398.00  84.50

        %E
19  145.68
34   51.00
45   42.40
46    7.72   outliers

,Chi,Gel,Gly,Pec,Sta,Oil,T(°C),%RH,t(h),TS,WVP,%E
0,0.920,0.00,0.387,0.0,0.460,0.00,60.00,50.0,18.0,49.40,92.20,100.40
1,0.920,0.46,0.387,0.0,0.460,0.00,60.00,50.0,18.0,13.63,90.60,70.60
2,0.920,0.00,0.387,0.0,1.380,0.00,60.00,50.0,18.0,33.36,101.20,50.30
3,0.920,0.46,0.387,0.0,1.380,0.00,60.00,50.0,18.0,40.41,94.70,35.10
4,0.922,0.00,0.194,0.0,0.922,0.00,60.00,50.0,18.0,39.23,70.30,8.90
...,...,...,...,...,...,...,...,...,...,...,...,...
75,2.000,0.00,0.000,0.0,0.000,2.18,26.06,0.0,72.0,9.45,0.63,4.86
76,2.000,0.00,0.000,0.0,0.000,1.09,26.04,0.0,72.0,13.92,0.56,11.03
77,2.000,0.00,0.000,0.0,0.000,0.55,26.06,0.0,72.0,14.41,0.54,5.46
78,2.000,0.00,0.000,0.0,0.000,0.27,26.40,0.0,72.0,17.67,0.34,4.02
79,2.000,0.00,0.000,0.0,0.000,0.00,26.40,0.0,72.0,19.36,0.30,3.76